.noDo{
width: 15%;
height: 80vh;
position: relative;
float: right;
min-height: 200px;
}

.task{
    width: 100px;
    padding: 2px;
    border: 2px solid black;
    border-style: dotted;
}

.field{
    font-size: 17px;
}

.tasks {
    height: 80vh;
    width: 100px;
    padding: 10px;
}

.days{
    float: left;
    display: flex;
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: row;

}

.day{
    flex-grow: 1;
    border: 1px solid black; 
    overflow-y: auto; 
    max-height: 800px; 
    width: 0; /* Add this line to set the initial width to zero */
    min-width: 0; /* Add this line to allow the width to shrink if necessary */
}

.title{
    font-size: 20px;
    font-style: italic;
}

.bruhcontainer{
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.bruh{
    font-size: 12px;
    padding: 5px 10px;
}