* {
    color: #ffffff
}

body{
}

.noScrollRoot {
    overflow: hidden;
}

:root {
    --backdrop: hsla(0, 100%, 50%, 0.12);
    --backup-border: var(--backdrop);
    --size: 200;
    --userColor: 100
}

.noDo{
    width: 12vw;
    height: 80vh;
    position: relative;
    float: right;
    min-height: 200px;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--backup-border);
    border-color: hsl(var(--userColor), 100%, 14%);
}

.task{
    width: 150px;
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px hsl(var(--userColor), 50%, 10%);    
}

.task:hover {
    background-color: lightgray; 
  }


.field{
    font-size: 17px;
}

.tasks {
    height: 80vh;
    
    padding: 10px;
}

.days{
    float: left;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.day{
    flex-grow: 1;
    overflow-y: clip; 
    max-height: 800px; 
    width: 0; 
    min-width: 0; 
    margin-right: 5px;
    border-radius: 5px;
    background-color: hsl(var(--userColor), 10%, 16%);
    border: 2px solid hsl(var(--userColor), 100%, 14%);
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 20px;
    font-style: italic;
    align-items: start;
    line-height: 1.05;
}

.directionButtonContainer {
    width: 100%; /* Adjusted width to fit four items with gaps */
    bottom: 10vh;
    /* left: 50%; */
    /* transform: translateX(-57.1%); */
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.left-buttons, .right-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.navButton {
    bottom: 10vh;
    right: 0%;
    height: 40px; /* Adjust the height as needed */
    font-size: 27px;
    font-weight: bold;
    border: 2px solid hsl(var(--userColor), 100%, 14%);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsl(var(--userColor), 10%, 16%);
    color: hsl(0, 0%, 80%);
}

.directionButtonContainer button {
    width: 8%; /* Make buttons fill their respective grid cells */
    height: 40px; /* Adjust the height as needed */
    font-size: 24px;
    margin-bottom: 10px;
    border: 2px solid hsl(var(--userColor), 100%, 14%);
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(var(--userColor), 10%, 16%);
}