.noDo{
width: 15%;
height: 80vh;
position: relative;
float: right;
}

.task{
    width: auto;
    padding: 2px;
}

.field{
    font-size: 17px;
}

tasks {
    height: 80vh;
    width: 100px;
    padding: 10px;
}

.days{
    float: left;
    align-items: stretch;
    display: flex;
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.day{
    flex-grow: 1;
    flex: display;
}

.title{
    font-size: 20px;
    font-style: italic;
}