.defaultButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
    border-width: 3px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 26%), hsl(var(--userColor), 10%, 16%));
    font-size: 17px;
    font-weight: bold;
    outline: none;
}

.defaultInput {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 3px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-color: transparent;
    /* font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold; */
    outline: none;
    /* min-width: 100px;
    max-width: 40vw;  */
}

.defaultArea {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 10px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-color: transparent;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    resize: none;
    width: 40vw;
    /* min-width: 100px;
    max-width: 40vw;  */
}

.defaultNum {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-width: 3px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-color: transparent;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    resize: none;
    width: 50px;
    text-align: center;
    margin-left: -10px;
    margin-right: 10px
    /* min-width: 100px;
    max-width: 40vw;  */
}

.defaultSelector {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-width: 3px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 21%), hsl(var(--userColor), 10%, 16%));
    color: hsl(0, 0%, 80%);
    background-color: transparent;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    resize: none;
    width: 60px;
    text-align: center;
    margin-left: -10px;
    margin-right: 10px
    /* min-width: 100px;
    max-width: 40vw;  */
}

input[type="text"],
.defaultSpan {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; */
}

.defaultInput {
    min-width: 10vw;
    max-width: 60%;
    padding: 0.5em 1em;

    border-radius: 2em;
    outline: 0;
    border-color: hsl(var(--userColor), 100%, 20%)
}

.defaultInput:focus {
    border-color: hsl(var(--userColor), 100%, 40%);
}
.defaultArea:focus {
    border-color: hsl(var(--userColor), 100%, 40%);
}
.defaultNum:focus {
    border-color: hsl(var(--userColor), 100%, 40%);
}

.defaultSpan {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 10vw;
    max-width: 50vw;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}