:root {
  --backdrop: hsl(0 0% 60% / 0.12);
  --backup-border: var(--backdrop);
  --size: 200;
  --userColor: 310
}

body {
	display: grid;
	place-items: left;
	min-height: 100vh;
	background: hsl(0, 0%, 8%);
}

.wrapper {
	position: relative;
}

article {
    border-left: 10px;
    border-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 14px;
    height: min-content;
    grid-template-rows: 1fr auto;
    box-shadow: 0px 0px 20px 5px hsl(var(--userColor), 50%, 10%);
    display: grid;
    gap: 1rem;
    backdrop-filter: blur(calc(var(--cardblur, 5) * 1px));
}

main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 120ch;
    max-width: calc(100vw - 2rem);
    position: relative;
}

/* Glow specific styles */
[data-glow] {
    background-color: hsl(var(--userColor), 10%, 16%);
    border: 3px solid var(--backup-border);
    border-color: hsl(var(--userColor), 100%, 14%);
    position: relative;
    touch-action: none;
    width: 1fr;
}

[data-glow-popup] {
    background-color: hsl(var(--userColor), 10%, 16%);
    border: 3px solid var(--backup-border);
    border-color: hsl(var(--userColor), 100%, 14%);
    position: relative;
    touch-action: none;
    max-height: 80vh;
    min-width: 60vw;
    /* align-items: center; */
}

.glow-holder {
    padding-bottom: 50px;
}

.completed {
    color: hsl(0, 0%, 40%);
    text-decoration: line-through;
    padding-left: 10px;
    font-size: 17px;
}

.completedTitle {
    color: hsl(0, 0%, 40%);
    text-decoration: line-through;
    margin-left: -15px;
    font-size: 27px;
    font-weight: normal;
}

.uncomplete {
    color: hsl(0, 0%, 80%);
    padding-left: 10px;
    font-size: 17px;
}

.uncompleteTitle {
    color: hsl(0, 0%, 80%);
    margin-left: -15px;
    font-size: 27px;
    font-weight: normal;
}

.blockTitle {
    color: hsl(0, 0%, 80%);
    padding-top: 10px;
    font-size: 27px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}

.blockTitleDelete {
    color: hsl(0, 0%, 80%);
    padding-top: 10px;
    font-size: 27px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    margin: auto
}

.blockTitle:hover {
    color: hsl(var(--userColor), 50%, 80%);
    cursor: pointer;
}

.popupBlockTitle {
    color: hsl(0, 0%, 80%);
    padding-top: 10px;
    padding-right: 20px;
    font-size: 27px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.version {
    color: hsl(0, 0%, 80%);
    padding-top: 10px;
    padding-right: 20px;
    font-size: 27px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.version:hover {
    text-decoration: underline;
    cursor: pointer;
}

.popupBackground {
    border-left: 10px;
    border-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 14px;
    height: min-content;
    box-shadow: 0px 0px 15px 15px hsl(var(--userColor), 100%, 14%);
    background-color: transparent;
    /* background-color: hsl(var(--userColor), 10%, 16%); */
    border: 3px solid var(--backup-border);
    border-color: hsl(var(--userColor), 100%, 14%);
} 

.popupContent {
    display: flex;
    align-items: center;
}

.defaultButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
    border-width: 2px;
    border: solid 2px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 26%), hsl(var(--userColor), 10%, 16%));
    font-size: 17px;
    font-weight: bold;
    outline: none;
}

.defaultButton:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 26%), hsl(var(--userColor), 10%, 20%))
}

.defaultButton:active {
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 16%), hsl(var(--userColor), 10%, 22%));
}

.addTaskButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
    border-width: 3px;
    border: solid 3px hsl(var(--userColor), 100%, 20%);
    color: hsl(0, 0%, 80%);
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 26%), hsl(var(--userColor), 10%, 16%));
    font-size: 27px;
    font-weight: bold;
    outline: none;
}

.addTaskButton:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 26%), hsl(var(--userColor), 10%, 20%));
    border-color: hsl(var(--userColor), 100%, 40%);
}

.addTaskButton:active {
    background-image: linear-gradient(to bottom right, hsl(var(--userColor), 10%, 16%), hsl(var(--userColor), 10%, 22%));
}

.rowWrapperSplit {
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.popupBlockSubtitle {
    color: hsl(0, 0%, 80%);
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}


.rowWrapperClose {
    height: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.gone {
    background-color: transparent;
}


.switch .hiddenCheckbox {
    display: none; /*Hide the default checkbox*/
}
  
.switch .customCheckboxOff {
    display: inline-block;
    width: 30px; /* Width of your custom checkbox */
    height: 30px; /* Height of your custom checkbox */
    cursor: pointer;
    background-image: url('../assets/unchecked.svg');
    background-size: contain;
}

.switch .hiddenCheckbox {
    width: 30px;
    height: 30px;
}
  
.switch .customCheckboxOn {
    display: inline-block;
    width: 30px; /* Width of your custom checkbox */
    height: 30px; /* Height of your custom checkbox */
    cursor: pointer;
    background-image: url('../assets/checked.svg');
    background-size: contain;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.dots {
    border-radius: 30px;
    background-color: hsl(var(--userColor), 10%, 20%);
    padding: 10px;
    margin-right: 10px;
}

.trash {
    border-radius: 20px;
    background-color: hsl(var(--userColor), 10%, 20%);
    padding: 4px;
    margin-top: -10px;
    margin-bottom: -6px;
    margin-right: 10px;
    margin-left: 10px;
}

.dots:hover {
    background-color: hsl(var(--userColor), 10%, 26%);
    cursor: pointer;
}

.trash:hover {
    background-color: hsl(var(--userColor), 10%, 26%);
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.path {
    fill: green
}

.scrolling {
    max-height: 800px;
    overflow-y: scroll;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    display: grid;  
}

::-webkit-scrollbar {
    width: 20px;
    border-right: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(var(--userColor), 10%, 10%);
    border-radius: 10px;
    position: absolute;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--userColor), 20%, 40%);
    border-radius: 10px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--userColor), 20%, 30%);
  }

  .centerContents {
    display: flex;
    justify-content: space-around;
  }